.separator .line {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-background-insets: 0, 0, 0, 0
}

.choice-box {
    /*-fx-padding: 10;*/
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent
}

.root {
    -fx-focus-color: transparent;
}

.button {
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-cursor: hand;
    -fx-font-family: Arial;
    -fx-font-size: 25;
}

.text-field {
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.password-field {
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :white;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}

.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color : black;
    -fx-background-insets : 6.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :  black;
    -fx-background-insets : 6.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.list-view {
    -fx-padding: 3;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent
}

.list-view .list-cell:even {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}
.list-view .list-cell:odd {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

