.separator .line {
    -fx-border-color: black;
    -fx-border-width: 1;
}

.choice-box {
    /*-fx-padding: 10;*/
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent
}