.separator .line {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-background-insets: 0, 0, 0, 0
}

.choice-box {
    /*-fx-padding: 10;*/
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent
}

.root {
    -fx-focus-color: transparent;
}

.button {
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-cursor: hand;
    -fx-font-family: Arial;
    -fx-font-size: 25;
}

.text-field {
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.password-field {
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}